---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <div style="display: flex; justify-content: center; align-items: center; margin: 20px 0; width: 100%;">
  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=nMMl6jgp7DOagtoViFQjTL5SpgIeBTfK4cQ4J59F-iM&w=360"></script>
</div>

  </body>
</html>


<!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=HkkIFPk82AocJNo3RSU52QgAyGUJ43dnunhB9kBumfc&cl=ffffff&w=360"></script> -->
<!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=jSbPrdJ6tOFiqDd9kqLOLv1TqqzAcC7_dGkXD9rOP9k&cl=ffffff&w=a"></script> -->
